/* Basic styles for a general ambiancé for the demo.
   You don't need these styles at all - so scram! :) */

a {
  text-decoration: none;
}

body {
  background: #1abc9c;
  color: #fff;
  font-family: "Futura", sans-serif;
  padding: 5% 10%;
}

.fork {
  position: absolute;
  right: 0;
  top: 0;
}

.view-source {
  background: rgba(255,255,255,.25);
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 100px;
  cursor: pointer;
  float: right;
  position: relative;
  top: 15px;
  padding: 10px 15px;
}

.view-source:hover {
  background: rgba(0,0,0,.15);
  border-color: rgba(0,0,0,.3);
}

.view-source:active {
  opacity: .8;
}

h1 em, h2 {
  color: rgba(255,255,255,.5);
  font-size: 14px;
}

h1 {
  color: rgba(0,0,0,.25);
  text-transform: uppercase;
}

h1 em {
  font-weight: 300;
  margin-left: 5px;
  text-transform: lowercase;
}

h1 em a {
  color: inherit;
  text-decoration: none;
}

h1 em a:hover {
  text-decoration: underline;
}

fieldset {
  border: 1px solid rgba(255,255,255,.5);
}

legend {
  color: rgba(255,255,255,.5);
  padding: 0 10px;
}

label, input {
  cursor: pointer;
}

label {
  font-weight: 300;
  font-size: 16px;
  padding: 15px 20px 15px 8px;
}

input {
  margin-right: 7px;
}

ul {
  border-top: rgba(0,0,0,0.25) 5px solid;
  list-style: none;
  margin: 30px 0 15px;
  padding: 0;
}

li {
  border-bottom: rgba(0,0,0,0.25) 5px solid;
}

h2 {
  margin: 0 30px;
}

li img, h2 {
  display: inline-block;
}

li img {
  border: 0;
  height: 148px;
  width: 100px;
}

h2 em {
  color: #fff;
  font-size: 28px;
  margin-right: 10px;
}

.score {
  color: #ccc;
}

li a {
  display: block;
  padding: 30px;
}

li a:hover {
  background: rgba(255,255,255,.25);
}

li a:hover h2 {
  color: rgba(255,255,255,.75);
}

li a:hover h2 em {
  color: rgba(0,0,0,.75);
}

li a:hover .score {
  color: #ddd;
}

@media (max-width: 599px) {
  .view-source {
    float: none;
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    position: static;
  }

  h1 em, h2, li img {
    display: block;
  }

  h1 em {
    margin: 0;
  }

  h1 {
    font-size: 22px;
  }

  h2 em {
    font-size: 18px;
  }

  h2 {
    margin: 10px 0 0;
  }

  label {
    display: block;
  }
}
